.tea-textarea-group {
  display: inline-block;
  font-size: 0;
  position: relative;
  padding-bottom: 20px;

  .tea-textarea__label {
    font-size: 12px;
    position: absolute;
    bottom: 2px;
    right: 4px;
    color: #888;
  }
}

.tea-extends--pagination-select {
  width: 48px;
  min-width: 48px;
}

.tea-pagination__turnbtn {
  user-select: none;
}

.tea-ext-input-wrap {
  display: inline-block;
}

.has-time {
  .el-date-picker__time-header {
    border-bottom: none;
    .el-date-picker__editor-wrap {
      width: 100px;
      display: inline-block;
      .tea-input {
        width: 100px;
        border:none;
      }
    }
  }
  
}

.tea-menu__submenu.is-opened .tea-menu__list{
  display: block;
}
