.tea-textarea-group {
  display: inline-block;
  font-size: 0;
  position: relative;
  padding-bottom: 20px;

  .tea-textarea__label {
    font-size: 12px;
    position: absolute;
    bottom: 2px;
    right: 4px;
    color: #888;
  }
}

.tea-extends--pagination-select {
  width: 48px;
  min-width: 48px;
}

.tea-pagination__turnbtn {
  user-select: none;
}