.tea-popper {
  display: inline-block;
  .tea-dropdown__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 30px;
    padding: 0 5px 0 10px;
    & > .tea-icon {
      position: relative;
      top: auto;
      right: auto;
    }
  }
  .no-arrow {
    padding: 0 10px;
  }
}
